In [1]:
import pandas as pd
import numpy as np

In [5]:
stores_df = pd.read_csv('us_supermarkets.csv')
# stores_df.drop(['Unnamed: 0'])
stores_df.head()

   Unnamed: 0                 name        lat        lon
0           0          foot outlet  33.612083 -85.963274
1           1           Winn Dixie  33.597828 -85.928149
2           2               Target  33.608768 -85.783059
3           3               Target  33.224346 -86.804360
4           4  Walmart Supercenter  33.235489 -86.801210